.SideBar {
  background-color: #3c4b64;
  height: 10000px;
  display: flex;
  flex-direction: column;
  color: #f5f5f5f5;
  flex: 0.2;
  padding: 1.5rem;
}

.theme__content,
.componets__content {
  margin-left: 1rem;
}
